---
title: lipu tenpo - lipu ale
layout: page
css:
  - stylesheet-index.css
description: "o kama pona lon lipu pi lipu tenpo!"
---

<div class="h2">
  <h2 id="lipu">
    lipu
    <a id="rss" href="/lipu/feed.xml">
      <img alt="_RSS_" src="/rss.svg" />
    </a>
  </h2>
</div>

<section id="introduction">
  <p>o kama pona lon lipu pi lipu tenpo!</p>
  <p>o lukin e lipu ale lon ma ni</p>
</section>

{{!-- first lipu_ale --}}
<section id="lipu-nanpa-lon">
  <article class="lipuwan">
    <a href="lipu/{{slugify lipu_ale.[0].title}}">
      {{{eleventyImage (appendString "pdfs/" lipu_ale.[0].cover_image) "" lipu_ale.[0].title 400}}}
      <h3 id="{{ lipu_ale.[0].title }}">
        {{ lipu_ale.[0].title }}
      </h3>
      <span class="date">
        <time datetime="{{ asReadableDate lipu_ale.[0].date }}">{{ asReadableDate lipu_ale.[0].date }}</time>
      </span>
    </a>
  </article>
</section>


<div class="lipu-flex">
  <section id="lipu_ale">
    {{#each lipu_ale}}
    {{#if @first}}
    {{else}}
    <div>
      <article class="lipuwan">
        <a href="lipu/{{slugify this.title}}">
          {{{eleventyImage (appendString "pdfs/" cover_image) "" title 400}}}
          <h3 id="{{ this.title }}">
            {{ this.title }}
          </h3>
          <span class="date">
            <time datetime="{{ asReadableDate this.date }}">{{ asReadableDate this.date }}</time>
          </span>
        </a>
      </article>
    </div>
    {{/if}}
    {{/each}}
  </section>
</div>
