---
title: lipu tenpo - lipu ale
layout: page
css:
  - stylesheet-index.css
---

<section id="introduction">
  <p>o kama pona lon lipu pi lipu tenpo!</p>
  <p>mi mute li pali e lipu tenpo nanpa wan pi toki pona.</p>
</section>
<h2>lipu</h2>
<section id="lipu">
  {{#each lipu_ale}}
  <article class="lipuwan">
    <a href="lipu/{{slugify this.title}}">
      <img src="pdfs/{{ this.cover_image }}" alt="{{ this.title }} cover image" height="1536" width="1083" />
      <h3>
        {{ this.title }}
      </h3>
      <span class="date">
        <time datetime="{{ asReadableDate this.date }}">{{ asReadableDate this.date }}</time>
      </span>
    </a>
  </article>
  {{/each}}
</section>
