---
title: lipu tenpo - lipu ale
layout: page
css:
  - stylesheet-index.css
description: "o kama pona lon lipu pi lipu tenpo!"
---

<section id="introduction">
  <p>o kama pona lon lipu pi lipu tenpo!</p>
  <p>mi mute li pali e lipu tenpo nanpa wan pi toki pona.</p>
</section>
<h2>
  lipu
  <a id="rss" href="/lipu/feed.xml">
    <img alt="_RSS_" src="/rss.svg" />
  </a>
</h2>

<section id="lipu">
  {{#each lipu_ale}}
  <article class="lipuwan">
    <a href="lipu/{{slugify this.title}}">
      {{{eleventyImage (appendString "pdfs/" cover_image) "" title 400}}}
      <h3>
        {{ this.title }}
      </h3>
      <span class="date">
        <time datetime="{{ asReadableDate this.date }}">{{ asReadableDate this.date }}</time>
      </span>
    </a>
  </article>
  {{/each}}
</section>
