---
layout: page
title: "lipu tenpo - sona"
css:
  - stylesheet-sona.css
---

<div class="h2">
  <h2 id="sona">sona</h2>
</div>

<article class="ni-li-seme">
    <h3 id="ni-li-seme">ni li seme?</h3>
    {{#each sona.[ni-li-seme]}}
    <h4>{{question}}</h4>
    {{{markdown answer}}}
    {{/each}}
</article>

<article class="faq">
    <h3 id="faq">FAQ</h3>
    {{#each sona.faq}}
    <h4>{{question}}</h4>
    {{{markdown answer}}}
    {{/each}}
</article>

<article class="nimi-pi-pu-ala">
    <h3 id="nimi-pi-pu-ala">nimi pi pu ala</h3>
    <p>o lukin e linluwi...</p>
    <nav>
        <ul>
            <li>
                <a href="https://linku.la/">linku.la</a>
            </li>
            <li>
                <a href="https://nimi.li/">nimi.li</a>
            </li>
        </ul>
    </nav>
</article>

<article class="jan-pali">
    <h3 id="jan-pali">jan pali</h3>
    <div class="lists">
        {{#each jan_pali}}
        <div class="jan-mute">
            <h4 id="{{@key}}">{{@key}}</h4>
            <ul>
                {{#each (sortJanPali this)}}
                <li class="jan {{#if active}}active{{/if}}">
                    <span>
                        {{name}}
                    </span>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
    </div>
    <p>
        <span class="active">jan jelo li pali lon tenpo ni.</span> jan walo li pali lon tenpo pini.
    </p>
</article>

<section class="sona">
    <h3 id="sona-footer">sona</h3>
    {{#each sona.footer}}
    <p>
        {{this}}
    </p>
    {{/each}}
</section>
