---
layout: page
title: "lipu tenpo - sona"
css:
  - stylesheet-sona.css
---

<div class="h2">
  <h2 id="sona">sona</h2>
</div>

<article class="nimi-pi-pu-ala">
    <h3 id="nimi-pi-pu-ala">nimi pi pu ala</h3>
    {{#each nimi-pi-pu-ala}}
    <h4 id="{{@key}}">{{@key}}</h4>
    <p>{{this}}</p>
    {{/each}}
</article>

<article class="jan-pali">
    <h3 id="jan-pali">jan pali</h3>
    <div class="lists">
        {{#each jan_pali}}
        <div class="jan-mute">
            <h4 id="{{@key}}">{{@key}}</h4>
            <ul>
                {{#each this}}
                <li class="jan {{#if active}}active{{/if}}">
                    <span>
                        {{name}}
                    </span>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
    </div>
    <p>
        <span class="active">jan jelo li pali lon tenpo ni.</span> jan walo li pali lon tenpo pini.
    </p>
</article>

<section class="sona">
    <h3 id="sona-footer">sona</h3>
    <p>
        mi mute li toki e ni tawa jan lukin: sina pona!
    </p>
    <p>
        mi mute li pana e lipu tenpo lon ma Tosi.
    </p>
    <p>
        Published in Germany by lipu tenpo e.V.
    </p>
    <p>
        lipu tenpo is the first published magazine in toki pona. Its ISSN is 2752-4639.
    </p>
</section>
