---
layout: page
title: "lipu tenpo - sona"
---
<hr>
<h2>nimi pi pu ala</h2>
{{#each nimi-pi-pu-ala}}
<h3 id="{{@key}}">{{@key}}</h3>
<p>{{this}}</p>
{{/each}}
<hr>
<h2>jan pali</h2>
{{#each jan_pali}}
<h3>{{@key}}</h3>
<ul>
    {{#each this}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>
{{/each}}
<p>mi mute li toki e ni tawa jan lukin: sina pona!</p>
<p>mi mute li pana e lipu tenpo lon ma Juke.</p>
<p>Published in the UK by lipu tenpo</p>
<p>lipu tenpo is the first published magazine in toki pona. Its ISSN is 2752-4639.</p>