---
title: lipu tenpo
description: lipu tenpo
css:
  - stylesheet.css
og-image: null
scripts: []
---

<!DOCTYPE html>
<html lang="tok">
<head>
  <title>{{ title }}</title>
  <!-- browser metas -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ description }}" />

  <!-- embed metas - https://ogp.me/ -->
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site" content="lipu tenpo" />
  <meta property="og:url" content="https://liputenpo.org{{ page.url }}" />
  <meta property="og:image" content="https://liputenpo.org{{#if [og-image]}}{{[og-image]}}{{else}}/og-image.png{{/if}}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:locale" content="en_GB" />

  <!-- styling -->
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  {{!-- google fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
  <!-- stylesheets -->
  {{#each css}}
  <link rel="stylesheet" href="/{{ this }}" />
  {{/each}}

  <!-- patreon banner -->
  <script>
    // check if cookie exists
    if (document.cookie.indexOf('patreon-banner-closed=1') == -1) {
      // cookie doesn't exist, show banner
      setTimeout(() => {
        document.getElementById('patreon-banner').classList.add('visible')
      }, 1500)      
    }
    closeBanner = () => {
      // set cookie
      document.cookie = 'patreon-banner-closed=1; path=/; max-age=2628000'
      document.getElementById('patreon-banner').classList.remove('visible')
    }
  </script>

  <!-- analytics -->
  <script data-goatcounter="https://liputenpo.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

  <!-- scripts -->
  {{#each scripts}}
    {{{ this }}}
  {{/each}}
</head>

<body>
  <article id="patreon-banner" class="patreon-banner">
    <div>
      <p>
        lipu tenpo li jo e lipu Patreon!
        <a target="_blank" href="https://www.patreon.com/liputenpo">o kama sona e ni!</a>
      </p>
      <button class="close" onclick="closeBanner()">&#10006;</button>
    </div>
  </article>
  <header>
    <div id="banner"></div>
    <a href="/" class="title">
      <img src="/logo.png" alt="lipu tenpo logo" width="475" height="497" />
      <h1>lipu tenpo</h1>
    </a>
    <nav>
      <ul>
        <li>
          <a href="/">tomo</a>
        <li>
          <a href="/toki">toki</a>
        </li>
        <li>
          <a href="/sona">sona</a>
        </li>
        <li>
          <a href="/lipu-ante">lipu ante</a>
        </li>
      </ul>
      <!-- search bar -->
      <!-- <form onsubmit="">
        <input type="text" name="q" placeholder="search" />
      </form> -->
    </nav>
  </header>

  <main>{{{ content }}}</main>

  <footer>
    <nav>
      <ul class="links">
        <li>
          <a href="{{ linluwi.discord }}" target="_blank">
            <img class="icon" src="/icons/discord.svg" alt="discord icon" />
            <span>
              Discord
            </span>
          </a>
        </li>
        <li>
          <a href="{{ linluwi.linktree }}" target="_blank">
            <img class="icon" src="/icons/linktree.svg" alt="linktree icon" />
            <span>
              Linktree
            </span>
          </a>
        </li>
        <li>
          <a href="{{ linluwi.patreon }}" target="_blank">
            <img class="icon" src="/icons/patreon.svg" alt="patreon icon" />
            <span>
              Patreon
            </span>
          </a>
        </li>
        <li>
          <a href="mailto:{{ linluwi.email }}">
            <img class="icon" src="/icons/email.svg" alt="email icon" />
            <span>
              {{ linluwi.email }}
            </span>
          </a>
        </li>
        <li>
          <a href="{{ linluwi.article_submission_form }}" target="_blank">
            <img class="icon" src="/icons/pen.svg" alt="pen icon" />
            <span>
              o pana e pali sina
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </footer>
</body>

</html>