---
layout: page
title: "lipu tenpo - toki"
css:
  - stylesheet-toki-wan.css
eleventyComputed:
  description: "{{[nimi-suli]}}"
---
<article class="toki">
    <h1>
        {{[nimi-suli]}}
    </h1>
    <div class="meta">
        <span class="jan-pali" style="color: {{colourhash [jan-pali]}}">
            <span class="sitelen-pona">jan</span>
            {{[jan-pali]}}
        </span>
        <span class="tenpo" style="color: {{colourhash date}}">
            <span class="sitelen-pona">tenpo</span>
            {{asReadableDate date}}
        </span>
        <span class="lipu">
            <span class="sitelen-pona">lipu</span>
            <a href="/lipu/{{slugify (getIssueTag tags)}}">
                {{getIssueTag tags}}
            </a>
        </span>
        <span class="category" style="color: {{colourhash (getTokiTypeTag tags)}}">
            <span class="sitelen-pona">{{getTokiTypeTag tags}}</span>
            {{getTokiTypeTag tags}}
        </span>
    </div>
    <section class="nimi">
        {{{content}}}
    </section>
</article>
