---
pagination:
  data: lipu_ale
  size: 1
  alias: lipu
permalink: /lipu/{{slugify lipu.title}}/
layout: page
eleventyExcludeFromCollections: true
eleventyComputed: 
  title: "lipu tenpo - {{lipu.title}}"
  description: "lipu tenpo - {{lipu.title}}"
  og-image: "/pdfs/{{lipu.cover_image}}"
css:
  - stylesheet-lipu.css
---

<h2 id="lipu tenpo {{lipu.title}}">lipu tenpo {{lipu.title}}</h2>
<span class="date">{{asReadableDate lipu.date}}</span>
<section class="main">
  <h3 id="o kama jo!">o kama jo!</h3>
  <nav class="pdfs">
    <ul>
      <li>
        <a href="/pdfs/{{lipu.pdf}}">
          <img class="icon colour" src="/icons/file.svg" alt="file icon" />
          lipu tenpo {{lipu.title}}
          <img class="icon colour" src="/icons/file.svg" alt="file icon" />
        </a>
      </li>
      {{#if lipu.pdf_sitelen_pona}}
      <li>
        <a href="/pdfs/{{lipu.pdf_sitelen_pona}}">
          <img class="icon colour" src="/icons/file.svg" alt="file icon" />
          lipu tenpo {{lipu.title}} (sitelen pona&nbsp;<span class="sitelen-pona">sitelen pona</span>)
          <img class="icon colour" src="/icons/file.svg" alt="file icon" />
        </a>
      </li>
      {{/if}}
      {{#if lipu.pdf_pf}}
      <li>
        <a href="/pdfs/{{lipu.pdf_pf}}">
          <img class="icon colour" src="/icons/printer.svg" alt="printer icon" />
          lipu tenpo {{lipu.title}} (tawa ilo sitelen*)
          <img class="icon colour" src="/icons/printer.svg" alt="printer icon" />
        </a>
      </li>
      {{/if}}
      {{#if lipu.pdf_bwpf}}
      <li>
        <a href="/pdfs/{{lipu.pdf_bwpf}}">
          <img class="icon bnw" src="/icons/printer.svg" alt="printer icon" />
          lipu tenpo {{lipu.title}} (pimeja/walo tawa ilo sitelen*)
          <img class="icon bnw" src="/icons/printer.svg" alt="printer icon" />
        </a>
      </li>
      {{/if}}
    </ul>
  </nav>
  <p class="how-to-print">
    <a href="#ilo-sitelen-li-ni">nasin seme la lipu li ken tan ilo mi?</a>
  </p>
  <section class="embed">
    <embed
      src="/pdfs/{{lipu.pdf}}"
      width="500"
      height="670"
      type="application/pdf"
    />
    <a href="/pdfs/{{lipu.pdf}}">view full-page</a>
  </section>
  <section class="nasin-pali">
    <h3 id="ilo-sitelen-li-ni">*ilo sitelen li ni</h3>
    <p>
      sina wile pali e lipu tenpo kepeken ilo sitelen la, sina pali e ni: o kama
      jo e lipu tenpo tawa ilo sitelen. o ante e ijo ni: o pali e lipu lon sinpin
      tu. sinpin wan la, lipu tu li lon.
    </p>
    <h3 id="toki-inli">toki Inli</h3>
    <p>
      When you want to print the lipu tenpo out, do this: Download the printer
      version (“tawa ilo sitelen”) and change these things: Choose “print on both”
      sides. Also, on one side there should be two pages (in total 4 pages with
      the other side of the paper). When you do this, you can easily connect the
      pages now with a stapler.
    </p>
    {{!-- youtube video https://youtu.be/1SP5hGB53Fo --}}
    <iframe
      class="yt-embed"
      src="https://www.youtube.com/embed/1SP5hGB53Fo"
      title="How To Print Out Lipu Tenpo Correctly | Tutorial"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
      

  </section>
  {{#with (getkey collections lipu.title)}}
  {{#if this}}
  <section class="toki">
    <h3 id="toki">toki lon lipu ni</h3>
    <nav>
      <ul>
      {{#each this}}
        <li>
          <a class="article" href="{{page.url}}">
            <span class="nimi-suli">{{data.[nimi-suli]}}</span>
            <div class="meta">
                <span class="jan-pali" style="color: {{colourhash data.[jan-pali]}}">
                    <span class="sitelen-pona">jan</span>
                    {{data.[jan-pali]}}
                </span>
                <span class="tenpo">
                    <span class="sitelen-pona">tenpo</span>
                    {{asReadableDate data.date}}
                </span>
                <span class="category" style="color: {{colourhash (getTokiTypeTag data.tags)}}">
                    <span class="sitelen-pona">{{getTokiTypeTag data.tags}}</span>
                    {{getTokiTypeTag data.tags}}
                </span>
            </div>
          </a>
        </li>
      {{/each}}
      </ul>
    </nav>
  </section>
  {{/if}}
  {{/with}}
  <nav class="prevnext">
    <ul>
      <li>
        {{#if pagination.href.previous}}
          <a href="{{pagination.href.previous}}">tenpo kama</a>
        {{else}}
          <span class="disabled">tenpo kama</span>
        {{/if}}
      </li>
      <li>
        {{#if pagination.href.next}}
          <a href="{{pagination.href.next}}">tenpo pini</a>
        {{else}}
          <span class="disabled">tenpo pini</span>
        {{/if}}
      </li>
    </ul>
  </nav>
</section>
