---
layout: page
title: "lipu tenpo - toki"
eleventyExcludeFromCollections: true
permalink: /toki/
css:
  - stylesheet-toki.css
scripts:
  - '<script defer src="/alpine.min.js"></script>'
categories:
  - name: sona
    collection: sona
  - name: ma
    collection: ma
  - name: musi
    collection: musi
  - name: kulupu
    collection: kulupu
  - name: toki musi
    collection: toki-musi
  - name: toki toki
    collection: toki-toki
  - name: toki pona
    collection: toki-pona
  - name: toki ante
    collection: toki-ante
---
<h2>
    toki
    <a id="rss" href="./feed.xml">
        <img alt="_RSS_" src="/rss.svg" />
    </a>
</h2>

<section class="categories" x-data="{search: ''}">
  <search>
    <label for="search">alasa</label>
    <label for="search" class="sitelen-pona">alasa</label>
    <input type="search" id="search" x-model="search" />
  </search>
    {{#each categories}}
        <h3 id="{{slugify name}}">
            {{name}}
        </h3>
        <span class="category-title sitelen-pona">{{name}}</span>
        <div class="articles">
            {{#each (reversed (getkey ../collections collection))}}
            <a class="article" href="{{page.url}}" :class="{'hidden': !('{{data.[nimi-suli]}}'.toLowerCase().includes(search.toLowerCase()) || '{{data.[jan-pali]}}'.toLowerCase().includes(search.toLowerCase()) || '{{getIssueTag data.tags}}'.toLowerCase().includes(search.toLowerCase()))}">
                <span class="nimi-suli">{{data.[nimi-suli]}}</span>
                <div class="meta">
                    <span class="jan-pali">
                        <span class="sitelen-pona">jan</span>
                        {{data.[jan-pali]}}
                    </span>
                    <span class="tenpo">
                        <span class="sitelen-pona">tenpo</span>
                        {{asReadableDate data.date}}
                    </span>
                    <span class="lipu">
                        <span class="sitelen-pona">lipu</span>
                        {{getIssueTag data.tags}}
                    </span>
                    <span class="category">
                      <span class="sitelen-pona">{{getTokiTypeTag data.tags}}</span>
                      {{getTokiTypeTag data.tags}}
                    </span>
                </div>
            </a>
            {{/each}}
        </div>
    {{/each}}
</section>
