---
layout: page
title: "lipu tenpo - toki"
eleventyExcludeFromCollections: true
permalink: /toki/
css:
  - stylesheet-toki.css
scripts:
  - '<script defer src="/alpine.min.js"></script>'
categories:
  - name: kama
    collection: kama
  - name: kulupu
    collection: kulupu
  - name: toki pona
    collection: toki-pona
  - name: sona
    collection: sona
  - name: ma
    collection: ma
  - name: pilin
    collection: pilin
  - name: toki
    collection: toki-toki
  - name: toki ante
    collection: toki-ante
  - name: musi
    collection: musi
---
<div class="h2">
  <h2>
      toki
      <a id="rss" href="./feed.xml">
          <img alt="_RSS_" src="/rss.svg" />
      </a>
  </h2>
</div>

<section class="categories" x-data="{search: ''}">
  <nav class="quicklinks">
    {{#each categories}}
    <a href="#{{slugify name}}">{{name}}</a> {{#unless @last}}<span>•</span>{{/unless}}
    {{/each}}
  </nav>
  <search>
    <label for="search">alasa</label>
    <label for="search" class="sitelen-pona">alasa</label>
    <!-- Alpine:
      - x-model input to a `search` string
      - x-on:input to update URL with search param when changed
      - x-init to load a maybe-existing search param from the URL
    -->
    <input type="search" id="search" x-model="search" x-on:input = "window.history.replaceState(search, '', '/toki/' + (search ? '?alasa=' + search : ''))" x-init="let params = new URLSearchParams(window.location.search); search = params.get('alasa') || ''">
  </search>
  {{#each categories}}
  <h3 id="{{slugify name}}" class="blobby-{{modulo 4 @index}}" :class="{'hidden': !('{{#each (reversed (getkey ../collections collection))}}{{data.[nimi-suli]}} {{/each}}'.toLowerCase().includes(search.toLowerCase()) || '{{#each (reversed (getkey ../collections collection))}}{{data.[jan-pali]}} {{/each}}'.toLowerCase().includes(search.toLowerCase()) || '{{#each (reversed (getkey ../collections collection))}}{{getIssueTag data.tags}} {{/each}}'.toLowerCase().includes(search.toLowerCase()) )}">
    {{name}}
    <span class="category-title sitelen-pona">{{name}}</span>
  </h3>
  <div class="articles">
      {{#each (reversed (getkey ../collections collection))}}
      <!-- Alpine:
        - x-bind:class to hide the article if it doesn't match the search
      -->
      <a class="article" href="{{page.url}}" :class="{'hidden': !('{{data.[nimi-suli]}}'.toLowerCase().includes(search.toLowerCase()) || '{{data.[jan-pali]}}'.toLowerCase().includes(search.toLowerCase()) || '{{getIssueTag data.tags}}'.toLowerCase().includes(search.toLowerCase()))}">
          <span class="nimi-suli">{{data.[nimi-suli]}}</span>
          <div class="meta">
              <span class="jan-pali" style="color: {{colourhash data.[jan-pali]}}">
                  <span class="sitelen-pona">jan</span>
                  {{data.[jan-pali]}}
              </span>
              <span class="tenpo" style="color: {{colourhash data.date}}">
                  <span class="sitelen-pona">tenpo</span>
                  {{asReadableDate data.date}}
              </span>
              <span class="lipu" style="color: {{colourhash (getIssueTag data.tags)}}">
                  <span class="sitelen-pona">lipu</span>
                  {{getIssueTag data.tags}}
              </span>
              {{!-- <span class="category">
                <span class="sitelen-pona">{{getTokiTypeTag data.tags}}</span>
                {{getTokiTypeTag data.tags}}
              </span> --}}
          </div>
      </a>
      {{/each}}
  </div>
  {{/each}}
</section>
